<template>
  <div class='column is-8 is-offset-2'>
    <div class='m-5 has-text-centered'>
      <h2 class='title is-2'>Conversations</h2>
      <button class='button is-medium is-warning' @click="openModal('topic')">Créer un nouveau topic</button>
    </div>

    <div class="columns is-vcentered conversation" v-for="conversation in conversations" :key="conversation.id">
        <router-link :to="{name: 'Conversation', params: {id:conversation.id} }" class='box m-2 column is-11 has-text-left'>
          <h3 class='title is-4'>{{conversation.label}} :</h3>{{conversation.topic}}
        </router-link>
        <a class="column m-2 is-1 button is-medium is-warning" @click="openModal('edit', conversation.id)">
          <img style="width: 25px;" src="../assets/edit.png" />
        </a>
        <a class="column is-1 button is-medium is-danger" @click="openModal('delete', conversation.id)">
          <img style="width: 25px;" src="../assets/poubelle.png" />
        </a>
    </div>

    <!-- Fenêtre modale de nouveau topic -->
    <div id="topic-modal" class="modal" :class="{ 'is-active': modal.topic }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        <form @submit.prevent="validation">
          <div class='field'>
            <div class='control'>
              <input class='input is-warning' type='text' required placeholder="Titre" v-model="label" />
            </div>
          </div>
          <div class='field'>
            <div class='control'>
              <input class='input is-warning' type='text' required placeholder="Description" v-model="topic" />
            </div>
          </div>
          <button class='button is-warning is-rounded'>Créer</button>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal('topic')"></button>
    </div>

    <!-- Fenêtre modale de modification de topic -->
    <div id="edit-modal" class="modal" :class="{ 'is-active': modal.edit }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        <form @submit.prevent="editChannel(modal.id_conversation)">
          <div class='field'>
            <div class='control'>
              <input class='input is-warning' type='text' required placeholder="Titre" v-model="label" />
            </div>
          </div>
          <div class='field'>
            <div class='control'>
              <input class='input is-warning' type='text' required placeholder="Description" v-model="topic" />
            </div>
          </div>
          <button class='button is-warning is-rounded'>Modifier</button>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal('edit')"></button>
    </div>

    <!-- Fenêtre modale de suppression de conversation -->
    <div id="delete-modal" class="modal" :class="{ 'is-active': modal.delete }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        Voulez-vous vraiment supprimer cette conversation ?
        <div class="mt-3 buttons is-centered"> 
          <button class="button is-primary is-warning" @click="deleteChannel(modal.id_conversation)">Oui</button>
          <button class="button is-primary is-warning" @click="closeModal('delete')">Non</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal('delete')"></button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Accueil",
  data() {
      return {
        modal: {
          topic: false,
          delete: false,
          edit: false,
          id_conversation: null
        },
        label: '',
        topic: '',
        conversations: []
      }
  },
  mounted() {
    //Récupération des channels en arrivant sur la page
    this.getChannels();
  },
  methods: {
    //Validation de la création d'une conversation, on les récupère à nouveau depuis l'API après insertion
    validation() {
      this.$api
      .post("channels", {
        label: this.label,
        topic: this.topic
      })
      .then((response) => {
        this.getChannels();
      })
      .catch((error) => {
        console.log("Problème lors de la création d'une conversation : ", error);
      });

      this.closeModal('topic');
    },
    //Récupération des conversations
    getChannels() {
      this.$api
      .get("channels")
      .then((response) => {
        this.conversations = response.data;
      })
      .catch((error) => {
        console.log("Problème lors de la récupération des conversations : ", error);
      });
    },
    getChannel(id_channel) {
      this.$api
      .get(`channels/${id_channel}`)
      .then((response) => {
        this.topic = response.data.topic;
        this.label = response.data.label;
      })
      .catch((error) => {
        console.log("Problème lors de la récupération de la conversation : ", error);
      });
    },
    //Suppression d'une conversation, on les récupère toutes sur l'API juste après
    deleteChannel(id_channel) {
      this.$api
      .delete(`channels/${id_channel}`)
      .then((response) => {
        this.getChannels();
        this.closeModal('delete');
      })
      .catch((error) => {
        console.log("Problème lors de la suppression de la conversation : ", error);
      });
    },
    //Suppression d'une conversation, on les récupère toutes sur l'API juste après
    editChannel(id_channel) {
      this.$api
      .put(`channels/${id_channel}`, {
        label: this.label,
        topic: this.topic
      })
      .then((response) => {
        this.getChannels();
        this.closeModal('edit');
      })
      .catch((error) => {
        console.log("Problème lors de la modification de la conversation : ", error);
      });
    },
    //Ouverture d'une modale avec sa méthode en paramètre (topic ou delete) et l'id en cas de suppression
    openModal(method, id) {
      this.modal[method] = true;

      if(method === "delete" && id != null) {
        this.modal.id_conversation = id;
      }

      if(method === "edit" && id != null) {
        this.modal.id_conversation = id;
        this.getChannel(id);
      }
    },
    //Fermeture de la fenêtre modale
    closeModal(method) {
      this.modal[method] = false;
      this.modal.id_conversation = null;
      this.label = '';
      this.topic = '';
    }
  }
};
</script>