<template>
  <div class='column has-text-centered is-6 is-offset-3'>
    <form @submit.prevent="validation" class='box'>
      <h2 class='title is-2'>Connexion</h2>
      <div class='field has-text-left'>
        <label class='label'>Email</label>
        <div class='control'>
          <input class='input' type="email" required v-model="email" />
        </div>
      </div>
      <div class='field has-text-left'>
        <label class='label'>Mot de passe</label>
        <div class='control'>
          <input class='input' type="password" required v-model="password" />
        </div>
      </div>
      <button class="button is-warning is-rounded">Valider</button>
      <div class="has-text-left">
        <router-link to="/creation-compte">Pas encore de compte ?</router-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Connexion',
  data() {
    return {
      //Ajout en dur des identifiants de connexion (par pure flemme)
      email: "hittinyann@gmail.com",
      password: "test"
    }
  },
  mounted() {
    //Si connecté, on retourne sur la page d'accueil
    if(this.$store.state.member) {
      this.$router.push('/');
    }
  },
  methods: {
    //Méthode de connexion, si réussi alors on met les infos de l'utilisateur dans le store ainsi que son token et on redirige vers l'accueil
    validation() {
      this.$api.post("members/signin", {
        email: this.email,
        password: this.password,
      }).then(response => {
        this.$store.commit("setToken", response.data.token);
        this.$store.commit("setMember", response.data.member);
        this.$router.push('/');
      }).catch(error => {
        console.log("Erreur lors de la connexion : ", error);
      })
    }
  }
}
</script>
