<template>
  <div class='column has-text-centered is-6 is-offset-3'>
    <h2 class='title is-2'>{{conversation.label}}</h2>
    <h2 class='subtitle is-4'>{{conversation.topic}}</h2>
    <!-- Formulaire pour poster un message -->
    <form @submit.prevent="postMessage" class='box'>
      <div class='field'>
        <label class='label'>Message</label>
        <div class='control'>
          <input class='input' type='message' v-model="message"/>
        </div>
      </div>
      <button class="button is-primary is-warning">Poster</button>
    </form>

    <div>
      <!-- Template de DIV pour l'affichage de chaque message de la conversation -->
      <div :ref="'#'+message.id" class="card m-4" v-for="message in messages" :key="message.id">
        <header class="card-header">
          <span v-if="getMemberInformations(message.member_id) != null" class="card-header-icon">
            <img :src="'https://eu.ui-avatars.com/api/?rounded=true&name='+getMemberInformations(message.member_id).fullname.replace(' ', '+')" style="width:40px;" />
          </span>
          <p v-if="getMemberInformations(message.member_id) != null" class="card-header-title">
            <router-link :to="{name: 'Membre', params: {id: getMemberInformations(message.member_id).id} }">{{getMemberInformations(message.member_id).fullname}}</router-link>
          </p>
          <p v-else class="card-header-title">
            Utilisateur supprimé
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <span v-html="message.message">
            </span>
            <br />
            <i><time :datetime="message.created_at">{{timeRefactorization(message.created_at)}}</time></i>
          </div>
        </div>
        <footer v-if="$store.state.member.id == message.member_id" class="card-footer">
          <a class="card-footer-item" @click="openModal('edit', message)"><img style="width: 25px;" src="../assets/edit.png" /></a>
          <a class="card-footer-item" @click="openModal('delete', message)"><img style="width: 25px;" src="../assets/poubelle.png" /></a>
        </footer>
      </div>
    </div>

    <!-- Fenêtre modale de suppression de message -->
    <div id="delete-modal" class="modal" :class="{ 'is-active': modal.delete }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        Voulez-vous vraiment supprimer votre message ?
        <div class="mt-3 buttons is-centered"> 
          <button class="button is-primary is-warning" @click="deleteMessage()">Oui</button>
          <button class="button is-primary is-warning" @click="closeModal('delete')">Non</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal('delete')"></button>
    </div>

    <!-- Fenêtre modale de modification de message -->
    <div id="edit-modal" class="modal" :class="{ 'is-active': modal.edit }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        <form @submit.prevent="editMessage">
          <div class='field'>
            <div class='control'>
              <input class='input is-warning' type='message' v-model="message"/>
            </div>
          </div>
          <button class="button mt-3 is-primary is-warning">Modifier</button>
        </form>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeModal('edit')"></button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Conversation",
  data() {
      return {
        modal: {
          //Données transmises lors de l'ouverture d'une modale, edit et delete servent à savoit quelle modale est à utiliser
          edit: false,
          delete: false
        },
        conversation: false,
        message: '',
        messages : [],
        channel: []
      }
  },
  mounted() {
      //Récupération des messages de la conversation
      this.getMessages()
      .then(() => {
        if(this.$route.hash != "") {
          let element = this.$refs[this.$route.hash][0];
          element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
        }
      });
      //Récupération des infos de la conversation actuelle (notamment pour le titre)
      this.getChannel();
  },
  methods: {
    openModal(method, message) {
      //Ouverture d'une modale avec sa méthode en paramètre (edit ou delete)
      this.modal[method] = true;
      this.modal.message = message;
      //Si c'est une modale de modification, on met le message concerné dans l'input de modification
      if(method == 'edit') {
        this.message = this.modal.message.message;
      }
    },
    closeModal(method) {
      //Fermeture d'une modale avec sa méthode en paramètres
      this.modal[method] = false;
      this.message = null;
    },
    async getMessages() {
      //Requête de récupération des messages de la conversation actuelle
      await this.$api
      .get(`channels/${this.$route.params.id}/posts`)
      .then((response) => {
        this.messages = response.data;
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la récupération des messages : ", error);
      });
    },
    getMemberInformations(id) {
      //Récupération des informations d'un membre par son ID (les membres sont stockés dans le store)
      return this.$store.state.members.find(member => member.id === id) || null;
    },
    postMessage() {
      //Requête d'envoi d'un message dans la conversation actuelle
      this.$api
      .post(`channels/${this.$route.params.id}/posts`, {
        message: this.message
      })
      .then((response) => {
        this.getMessages()
        this.getChannels();
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la création du message : ", error);
      });

      this.message = null;
    },
    deleteMessage() {
      //Requête de suppression d'un message dans la conversation actuelle
      this.$api
      .delete(`channels/${this.$route.params.id}/posts/${this.modal.message.id}`)
      .then((response) => {
        this.getMessages();
        this.getChannels();
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la suppression du message : ", error);
      });

      //Vu qu'on est dans la modale delete on la ferme
      this.closeModal('delete');
    },
    editMessage() {
      //Requête de modification d'un message dans la conversation actuelle
      this.$api
      .put(`channels/${this.$route.params.id}/posts/${this.modal.message.id}`, {
        message: this.message
      })
      .then((response) => {
        this.getMessages()
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la modification du message : ", error);
      });

      //Vu qu'on est dans la modale de modification on retire le message de l'input et on la ferme
      this.message = null;
      this.closeModal('edit');
    },
    timeRefactorization(message_datetime) {
      //Methode de refactorisation du format date/heure
      let datetime_split = message_datetime.split(' ');
      
      let date = datetime_split[0].split('-');
      date = `${date[2]}/${date[1]}/${date[0]}`;

      let time = datetime_split[1].split(':');
      time = `${time[0]}h${time[1]}`;

      return date + " à " + time;
    },
    //Récupération de tous les channels
    getChannels() {
      this.$api
      .get("channels")
      .then((response) => {
        this.channels = response.data;
        //Pour chaque channel, on récupère tous les messages associés et on les stocke dans un attribut de l'objet channel (pour le réutiliser dans le profil)
        this.channels.forEach((channel, index) => {
          this.getChannelMessages(channel.id, index);
        });
        this.$store.commit("setChannels", this.channels);
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la récupération des conversations : ", error);
      });
    },
    //Récupération de tous les messages d'une conversation, index du tableau de channel en paramètre pour trouver la bonne case et insérer un message
    // /!\ on utilise la variable this.channel dans data pour faire traverser les données car la requête est async et retourne un objet promise via un return
    async getChannelMessages(channel_id, index) {
      await this.$api
      .get(`channels/${channel_id}/posts`)
      .then((response) => {
        this.channels[index]["channels"] = response.data;
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la récupération des messages de la conversation : ", error);
      });
    },
    getChannel() {
      this.$api
      .get(`channels/${this.$route.params.id}`)
      .then((response) => {
        this.conversation = response.data;
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la récupération de la conversation : ", error);
      });
    }
  },
};
</script>