<template>
  <div class='column has-text-centered is-6 is-offset-3'>
    <form @submit.prevent="validation" class='box'>
      <h2 class='title is-2'>Créer un compte</h2>
      <div class='field has-text-left'>
        <label class='label'>Nom / Prénom</label>
        <div class='control'>
          <input class='input' type="text" required v-model="fullname" />
        </div>
      </div>
      <div class='field has-text-left'>
        <label class='label'>Email</label>
        <div class='control'>
          <input class='input' type="email" required v-model="email" />
        </div>
      </div>
      <div class='field has-text-left'>
        <label class='label'>Mot de passe</label>
        <div class='control'>
          <input class='input' type="password" required v-model="password" />
        </div>
      </div>
      <button class="button is-warning is-rounded">Valider</button>
      <div class="has-text-left">
        <router-link to="/connexion">Déjà un compte ?</router-link>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Creation-compte',
  data() {
    return {
      //Ajout en dur des identifiants d'inscription (par pure flemme)
      fullname: "HITTIN Yann",
      email: "hittinyann@gmail.com",
      password: "test"
    }
  },
  mounted() {
    //Si connecté, on redirige à l'accueil
    if(this.$store.state.member) {
      this.$router.push('/');
    }
  },
  methods: {
    //Méthode d'inscription, une fois inscrit on redirige sur la page de connexion
    validation() {
      this.$api.post("members",{
        fullname: this.fullname,
        email: this.email,
        password: this.password,
      }).then(response => {
        this.$router.push('/connexion');
      }).catch(error => {
        console.log("Erreur lors de l'inscription : ", error);
      })
    }
  }
}
</script>