<template>
  <div class='column has-text-centered is-6 is-offset-3'>
    <div class="box" v-if="member != null">
      <h2 class='title is-3'>{{member.fullname}}</h2>
      <h2 class="subtitle is-4">Email : <i>{{member.email}}</i></h2>
      <h2 class="subtitle is-6">Créé le : <i>{{timeRefactorization(member.created_at)}}</i></h2>
    </div>
    <div class="box">
      <h2 class='title is-3'>10 Derniers messages</h2>
      <!-- Le hash est là pour récupérer l'id du message et scroll dessus après arrivée sur le lien de la conversation -->
      <router-link :to="{name: 'Conversation', hash: `#${message.id}`, params: {id: message.channel_id }}" class="message" v-for='message in messages' :key="message.id">
        <div class="message-header">
          <p>{{message.conversation.label}} - {{message.conversation.topic}}</p>
        </div>
        <div class="message content">
          <p class="py-2" v-html="message.message"></p>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Membre",
  data() {
      return {
        member: null,
        messages: [],
        nbMessage: 0
      }
  },
  methods: {
    timeRefactorization(datetime) {
      //Methode de refactorisation du format date/heure
      console.log(datetime);
      let datetime_split = datetime.split(' ');
      
      let date = datetime_split[0].split('-');
      date = `${date[2]}/${date[1]}/${date[0]}`;

      let time = datetime_split[1].split(':');
      time = `${time[0]}h${time[1]}`;

      return date + " à " + time;
    }
  },
  mounted() {
    this.member = this.$store.state.members.find(member => member.id === this.$route.params.id);

    //boucle sur les conversations
    this.$store.state.channels.forEach(channel => {
      //boucle sur les messages
      channel.messages.forEach(message => {
        // test si l'id du membre est égale a l'id du propriétaire du message et que le nombre de message a afficher ne dépasse pas 10
        if(message.member_id == this.member.id && this.nbMessage <= 10){  
          this.nbMessage++; 
          // stock le label et le topic de la conversation dans le message
          message["conversation"] = {"label":channel.label, "topic":channel.topic};
          this.messages.push(message);
        }
      });
    });
    // trier décroissant en fonction de la date de modification
    this.messages.sort(function compare(a, b) {
      if (a.modified_at < b.modified_at) return 1; // -1 pour croissant
      if (a.modified_at > b.modified_at ) return -1; // 1 pour croissant
      return 0;
    });
  }
};
</script>