<template>
  <div id="app">
    <nav class='navbar is-warning' role='navigation' aria-label='main-navigation'>
      <!-- On regarde l'état de la connexion pour afficher les liens adaptés dans la navbar -->
      <div v-if="$store.state.member" id="navbarBasicExample" class="navbar-menu">
        <router-link to="/" class='navbar-item'>Conversations</router-link>
        <router-link to="/membres" class='navbar-item'>Membres</router-link>
      </div>
      <div class='navbar-end'>
        <div v-if="$store.state.member" class='navbar-item'>
          Connecté en tant que {{ $store.state.member.fullname }}
        </div>
        <div class='navbar-item'>
          <div v-if="$store.state.member" class='buttons'>
            <button @click="deconnexion" class='button is-light'>Deconnexion</button>
          </div>
          <div v-else class='buttons'>
            <router-link to='/connexion' class='button is-light'>Connexion</router-link>
            <router-link to='/creation-compte' class='button is-light'>Créer un compte</router-link>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App",
  data(){
    return {
      channels: []
    }
  },
  mounted(){
    //Si non connecté, on redirige sur la page de connexion
    if(!this.$store.state.member){
      this.$router.push('/connexion');
    };
    //On récupère les membres et les conversations pour les stocker dans le store
    this.getMembers();
    this.getChannels();
  },
  methods: {
    //Déconnexion (on vide la variable de store de l'utilisateur) et redirection à la page de connexion
    deconnexion() {
      this.$api
        .delete("members/signout")
        .then((response) => {
          this.$store.commit("setMember", false);
          this.$router.push('/connexion');
        })
        .catch((error) => {
        console.log("Problème lors de la déconnexion : ", error);
        });
    },
    //Récupération de la liste de tous les membres
    getMembers() {
      this.$api
      .get("members")
      .then((response) => {
        this.$store.commit("setMembers", response.data);
      })
      .catch((error) => {
        console.log("Problème lors de la récupération des membres : ", error);
      });
    },
    //Récupération de tous les channels
    getChannels() {
      this.$api
      .get("channels")
      .then((response) => {
        this.channels = response.data;
        //Pour chaque channel, on récupère tous les messages associés et on les stocke dans un attribut de l'objet channel (pour le réutiliser dans le profil)
        this.channels.forEach((channel, index) => {
          this.getChannelMessages(channel.id, index);
        });
        this.$store.commit("setChannels", this.channels);
      })
      .catch((error) => {
        console.log("Problème lors de la récupération des conversations : ", error);
      });
    },
    //Récupération de tous les messages d'une conversation, index du tableau de channel en paramètre pour trouver la bonne case et insérer un message
    // /!\ on utilise la variable this.channel dans data pour faire traverser les données car la requête est async et retourne un objet promise via un return
    async getChannelMessages(channel_id, index) {
      await this.$api
      .get(`channels/${channel_id}/posts`)
      .then((response) => {
        this.channels[index]["messages"] = response.data;
      })
      .catch((error) => {
        console.log("Problème lors de la récupération des messages : ", error);
      });
    }
  }
};
</script>